{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block body %}

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            
            {{ form.hidden_tag() }}
            
            <img class="mb-4" src="https://d2f7anuvnar8n5.cloudfront.net/p/assets/animations/hurricane_1e8e060c71635d9c72b776820991d419.png">
            <h1 class="h3 mb-3 font-weight-normal">
                Create an account!
            </h1>
            <br>

            {{ form.username.label('')}}
            {{ form.username(class="form-control", placeholder="Username") }}
            
            {{ form.email_address.label('')}}
            {{ form.email_address(class="form-control", placeholder="E-mail address") }}

            {{ form.password1.label('')}}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label('')}}
            {{ form.password2(class="form-control", placeholder="Confirm password") }}
            
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        
        </form>
    </div>
</body>
{% endblock %}